<!DOCTYPE html>
<html lang="en">
    <!-- https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js -->
    <!-- https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js -->
<head>

    <meta charset="UTF-8">
    <title>Online Web Chat</title>
    <script src="{{ url_for('static', filename='/node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/node_modules/socket.io-client/dist/socket.io.js') }}"></script>

</head>
<body>
<script type="text/javascript">
    $(document).ready(function(){
        var socket = io.connect("192.168.0.109:5000")
        socket.on('connect' , function(){
            socket.send("User connected!");
        });
        socket.on('message' , function(data){
            $("#messages").append($('<p>').text(data));
        });
        $('#sendBtn').on('click' , function(){
            socket.send($('#username').val() + ': ' + $('#message').val());
            $('#message').val('');
        });
    })
</script>
<div id ="messages">
</div>
    <input type="text" id="username" placeholder="username" required>
    <input type="text" id="message" placeholder="message" required>
    <button id="sendBtn">Send</button>



</body>
</html>