body {
  /* background-color:black; */
}
p {
  color: #cecece;
}

select {
  background-color: black;
  color:#cecece ;
}

/* CSS for mobile devices */
@media only screen and (max-width: 2000px) {
  /* Adjust the CSS properties as per your requirements */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}